<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'User:my_pro' %}">Profile</a><br>
    <a href="{% url 'User:DisplayOrphanage' %}">View orphnages</a><br>
    <a href="{% url 'User:editprofile' %}">Edit Profile</a><br>
    <a href="{% url 'User:changepassword' %}">Change password</a><br>
    <a href="{% url 'User:viewrequest' %}">View Request</a><br>
    <a href="{% url 'User:my_pro' %}">Profile</a><br>
    <a href="{% url 'User:search_orphanage' %}">Search orphnage</a><br>
    <a href="{% url 'User:feedback' %}">Feedback</a><br>
    <a href="{% url 'User:viewrequest' %}">Request</a>



    
</body>
</html>