{% extends 'User/Header.html' %}
{% load static %}
{% block content %}
<html>
    <head><title>View Request</title></head>

    <body>
        <form method="POST">
            {% csrf_token %}
            <table border="3" cellpadding="3" align="center">
                <tr>
                    <th>SI.NO</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    {% comment %} <th>Count</th> {% endcomment %}
                    <th>Orphanage</th>
                    <th>Donation Type</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
                {% for i in requestdata %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{i.request_title}}</th>
                    <th>{{i.request_description}}</th>
                    <th>{{i.request_date}}</th>
                    {% comment %} <th>{{i.request_count}}</th> {% endcomment %}
                    <th>{{i.orphanage.orphanage_name}}</th>
                    <th>{{i.donationtype.donationtype_name}}</th>
                    <th>{{i.payment_amount}}</th>
                    
                </tr>
                {% endfor %}

            </table>
        </form>
    </body>
</html>
{% endblock content %}
